.normal_grey {
	FONT: 12px/16px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #6d6f72; TEXT-DECORATION: none
}
.normal_red {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #bb0009; TEXT-DECORATION: none
}
.normal_black {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #000; TEXT-DECORATION: none
}
.breadcrumbs_grey {
	FONT: bold 10px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #6d6f72; TEXT-DECORATION: none
}
.whitebold {
	FONT: bold 12px/16px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
.grey_bold {
	FONT: bold 12px/16px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #6d6f72; TEXT-DECORATION: none
}
.grey_back {
	FONT: bold 12px/16px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #fff; BACKGROUND-COLOR: #808080; TEXT-DECORATION: none
}
.normal {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #000; TEXT-DECORATION: none
}
SPAN.spanlegend {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; LEFT: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; POSITION: relative; TOP: -0.75em; BACKGROUND-COLOR: #f1f1f3
}
.breadcrumbs_red {
	FONT: bold 10px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #f00; TEXT-DECORATION: none
}
.breadcrumbs_black {
	FONT: bold 10px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #000; TEXT-DECORATION: none
}
.requiredField {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #bb0009; TEXT-DECORATION: none
}

.downloads {
	FONT: bold 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #bb0009; TEXT-DECORATION: none
}
.copyright2k8 {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
A.copyright2k8:link {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
A.copyright2k8:hover {
	FONT: 12px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #f90; TEXT-DECORATION: none
}
.speakerName {
	FONT: bold 11px/16px Lucida Grande,Arial,sans-serif; TEXT-TRANSFORM: none; COLOR: #c00; TEXT-DECORATION: none
}
.speakerComapny1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Lucida Grande,Arial,sans-serif
}
.speakerPosition {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Lucida Grande,Arial,sans-serif
}
.normalboldbig {
	FONT: bold 14px Tahoma; TEXT-TRANSFORM: none; COLOR: #651b38; TEXT-DECORATION: none
}
.white_boldbig {
	FONT: bold 14px Tahoma; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
.White_boldheading {
	FONT: bold 12px Tahoma; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
.white_normal {
	FONT: 11px/16px Tahoma; TEXT-TRANSFORM: none; COLOR: #fff; TEXT-DECORATION: none
}
.body_normal {
	FONT-SIZE: 8.5pt; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.errorHeading_redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.sub_heading_redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.heading_redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
UL.square_bullets {
	FONT-SIZE: 8.5pt; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LIST-STYLE-TYPE: square; TEXT-DECORATION: none
}
.normal_email {
	FONT-SIZE: 8.5pt; COLOR: #00f; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.download_bluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #09629d; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.tablebackground {
	BACKGROUND: #eaeaea
}
.draftsnippetbackground {
	BACKGROUND: #fbfeff
}
.snippettitlerow {
	BACKGROUND: #ccd9e3
}
.anchorbox {
	BORDER-RIGHT: #09629d 1px solid; BORDER-TOP: #09629d 1px solid; FONT-SIZE: 12px; BACKGROUND: #fff; BORDER-LEFT: #09629d 1px solid; COLOR: #09629d; BORDER-BOTTOM: #09629d 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.head_brown {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a54323; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.head_bld_blue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #427da7; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.head_bld_orgline {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fc7b03; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.lh_bld_brown {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ad4100; LINE-HEIGHT: 10px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.txt_home {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bld_brown {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ad4100; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.normal_blue {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #427da7; LINE-HEIGHT: normal; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.normal_blk {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.org_normal {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #f2951b; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bld_blk {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.normal_inner_blk {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 16px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.menutxt {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.normal {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 17px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A.copyright {
	FONT-SIZE: 11px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.copyright:hover {
	FONT-SIZE: 11px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.copyright:active {
	FONT-SIZE: 11px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.bluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.bluebold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.bluebold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.greybold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.greybold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.greybold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A.orangebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e12000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.orangebold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e12000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
A.orangebold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e12000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
.orangebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e12000; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.bluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.greybold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.activebluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #900; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blackbigbold {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.copyright {
	FONT-SIZE: 11px; COLOR: #666; LINE-HEIGHT: 18px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.normalsmall {
	FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 13px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.bluesmall {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #09629d; FONT-FAMILY: Arial,Helvetica,sans-serif
}
SPAN.divlegend {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; LEFT: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; POSITION: relative; TOP: -0.75em; BACKGROUND-COLOR: white
}
H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #eaf2ff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; WIDTH: 480px; ; WIDTH: expression(500); MARGIN-RIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #78acff 1px solid
}
H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #eaf2ff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; WIDTH: 480px; ; WIDTH: expression(500); MARGIN-RIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #78acff 1px solid
}
H4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #eaf2ff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; WIDTH: 480px; ; WIDTH: expression(500); MARGIN-RIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #78acff 1px solid
}
H4.new {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; WIDTH: 480px; ; WIDTH: expression(500); MARGIN-RIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
H1 {
	FONT-SIZE: 50px
}
H2 {
	FONT-SIZE: 20px
}
H3 {
	FONT-SIZE: 15px
}
.bodytext {
	FONT-SIZE: 8pt; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.whitetext {
	FONT-SIZE: 8pt; COLOR: #fff; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.l_whitetext {
	FONT-SIZE: 9pt; COLOR: #fff; FONT-STYLE: normal; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
.shade_d1 {
	BACKGROUND-COLOR: #cad2e8
}
.shade_d2 {
	BACKGROUND-COLOR: #8295c8
}
.shade_g1 {
	BACKGROUND-COLOR: #eee
}
.shade_w1 {
	BACKGROUND-COLOR: #fff
}
.tab-pane.dynamic-tab-pane-control {
	WIDTH: 100%; POSITION: relative
}
.dynamic-tab-pane-control .tab-row .tab {
	BORDER-RIGHT: #9cf 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #9cf 1px solid; DISPLAY: inline; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 11px; Z-INDEX: 1; BACKGROUND: #c9d0f3; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=white,endColorStr=#C9D0F3); FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #9cf 1px solid; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #9cf 0px solid; FONT-FAMILY: Verdana,Helvetica,Arial; POSITION: relative; TOP: 0px
}
.dynamic-tab-pane-control .tab-row .selected.tab {
	BORDER-RIGHT: #9cf 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #9cf 1px solid; PADDING-LEFT: 6px; Z-INDEX: 3; BACKGROUND: #fff; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=white,endColorStr=white); PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #9cf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; TOP: 0px
}
.dynamic-tab-pane-control .tab-row .tab A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; CURSOR: pointer; COLOR: #fff; FONT-FAMILY: Verdana,Helvetica,Arial; TEXT-DECORATION: none
}
.dynamic-tab-pane-control .tab-row .hover A {
	FONT-WEIGHT: normal; COLOR: #000080
}
.dynamic-tab-pane-control .tab-row .selected.tab A {
	FONT-WEIGHT: bold
}
.dynamic-tab-pane-control .tab-page {
	CLEAR: both; BORDER-RIGHT: #9cf 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #9cf 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 13px; Z-INDEX: 2; BACKGROUND: white; PADDING-BOTTOM: 3px; OVERFLOW: auto; BORDER-LEFT: #9cf 1px solid; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #9cf 1px solid; FONT-FAMILY: Verdana,Helvetica,Arial; POSITION: relative; TOP: -2px; HEIGHT: 300px
}
.dynamic-tab-pane-control .tab-row {
	Z-INDEX: 1; BACKGROUND: #fff; WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 1.85em
}
.dynamic-tab-pane-control .tab-row .dispText {
	Z-INDEX: 1; BACKGROUND: #0b75c3; WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 1.85em
}
TABLE {
	FONT-SIZE: 100%
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	MARGIN: 0.5em 0px 1em; LINE-HEIGHT: 1.5em; TEXT-ALIGN: justify
}
P A {
	TEXT-DECORATION: underline
}
P A:visited {
	COLOR: purple; BACKGROUND-COLOR: transparent
}
P A:active {
	COLOR: red; BACKGROUND-COLOR: transparent
}
P IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
HR {
	CLEAR: both; COLOR: #008; HEIGHT: 1px; BACKGROUND-COLOR: transparent
}
H5 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana,Helvetica,Arial,sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #008 1px solid
}
H1 A {
	COLOR: black! important
}
H2 A {
	COLOR: black! important
}
H3 A {
	COLOR: black! important
}
H4 A {
	COLOR: black! important
}
H5 A {
	COLOR: black! important
}
H6 A {
	COLOR: black! important
}
H1 {
	FONT-SIZE: 160%
}
H2 {
	FONT-SIZE: 150%
}
H3 {
	FONT-SIZE: 140%
}
H4 {
	FONT-SIZE: 120%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 80%
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px 2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px 2em; PADDING-TOP: 0px
}
UL A {
	TEXT-DECORATION: underline
}
OL A {
	TEXT-DECORATION: underline
}
DT {
	FONT-WEIGHT: bold
}
DT A {
	TEXT-DECORATION: underline
}
DD {
	MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.5em
}
d A {
	TEXT-DECORATION: underline
}
FORM {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
ABBR {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
ACRONYM {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
.explain {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
Q {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times,"Times New Roman",serif
}
BLOCKQUOTE {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times,"Times New Roman",serif
}
CODE {
	FONT-SIZE: 120%; COLOR: black; BACKGROUND-COLOR: #dee7ec
}
PRE {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 120%; PADDING-BOTTOM: 1em; BORDER-LEFT: #008 1px solid; COLOR: black; PADDING-TOP: 1em; BORDER-BOTTOM: #008 1px solid; BACKGROUND-COLOR: #dee7ec
}
.netscape4 {
	DISPLAY: none
}
DIV.top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 1em 2em; PADDING-TOP: 0px
}
DIV.searchBox {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 3em 0px 0px; TEXT-TRANSFORM: lowercase; WIDTH: 30%; COLOR: black; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
INPUT.searchButton {
	FONT-SIZE: 100%! important; MARGIN-BOTTOM: 1px! important
}
DIV.tabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #008 1px solid; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
DIV.tabs A {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 2em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 2em; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #008 1px solid; COLOR: #436976; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0px; BORDER-BOTTOM: #008 1px; HEIGHT: 1.2em
}
DIV.tabs A.selected {
	BORDER-RIGHT: #008 1px solid; BORDER-TOP: #008 1px solid; FONT-WEIGHT: normal; BACKGROUND: #dee7ec; BORDER-LEFT: #008 1px solid; COLOR: #436976; BORDER-BOTTOM: #dee7ec 1px solid
}
DIV.tabs A:hover {
	BORDER-LEFT-COLOR: #008; BACKGROUND: #dee7ec; BORDER-BOTTOM-COLOR: #dee7ec; COLOR: #436976; BORDER-TOP-COLOR: #008; BORDER-RIGHT-COLOR: #008
}
DIV.personalBar {
	PADDING-RIGHT: 3em; BACKGROUND: #dee7ec; TEXT-TRANSFORM: lowercase; COLOR: black; BORDER-BOTTOM: #008 1px solid; TEXT-ALIGN: right
}
DIV.personalBar A {
	FONT-WEIGHT: normal; MARGIN-LEFT: 1em; COLOR: #436976; BACKGROUND-COLOR: transparent
}
DIV.personalBar IMG {
	VERTICAL-ALIGN: top
}
.caseSensitive {
	TEXT-TRANSFORM: none
}
DIV.pathBar {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; TEXT-TRANSFORM: lowercase; BORDER-BOTTOM: #008 1px solid
}
.breadcrumbs {
	FLOAT: left; TEXT-TRANSFORM: lowercase
}
.addFavorite {
	VERTICAL-ALIGN: bottom
}
TABLE.columns {
	WIDTH: 100%
}
TABLE.columns TD.left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
TABLE.columns TD.main {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TABLE.columns TD.right {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
#contentTabs {
	MARGIN-TOP: 2em; PADDING-LEFT: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #74ae0b 1px solid; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
#contentTabs A {
	BORDER-RIGHT: #74ae0b 1px solid; PADDING-RIGHT: 2em; BORDER-TOP: #74ae0b 1px solid; PADDING-LEFT: 2em; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #74ae0b 1px solid; COLOR: #578308; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0px; BORDER-BOTTOM: #74ae0b 1px; HEIGHT: 1.2em
}
#contentTabs A.selected {
	FONT-WEIGHT: normal; BACKGROUND: #cde2a7; COLOR: #578308; BORDER-BOTTOM: #cde2a7 1px solid
}
#contentTabs A:hover {
	COLOR: #578308; BACKGROUND-COLOR: #cde2a7
}
#contentBar {
	BORDER-RIGHT: #74ae0b 1px solid; BACKGROUND: #cde2a7; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #74ae0b 1px solid; COLOR: #578308; TEXT-ALIGN: right
}
#content {
	HEIGHT: 100%
}
DIV.document {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2em; FONT: 120% Verdana,Helvetica,Arial,sans-serif; PADDING-TOP: 0px
}
DIV.editableDocument {
	BORDER-RIGHT: #74ae0b 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #74ae0b 1px solid; PADDING-LEFT: 1em; BACKGROUND: white; PADDING-BOTTOM: 2em; MARGIN: 0px 0px 2em; FONT: 120% Verdana,Helvetica,Arial,sans-serif; BORDER-LEFT: #74ae0b 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #74ae0b 1px solid
}
DIV.documentActions {
	MARGIN-TOP: 1.5em; FLOAT: right
}
DIV.message {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 1em; BACKGROUND: #6b8ec6; PADDING-BOTTOM: 0.5em; MARGIN: 2em 0px 1em; FONT: bold 80% Verdana,Helvetica,Arial,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #008 1px solid; COLOR: white; PADDING-TOP: 0.5em; BORDER-BOTTOM: #008 1px solid
}
DIV.message A {
	COLOR: black; TEXT-DECORATION: underline
}
DIV.title {
	MARGIN-TOP: 1em
}
.description {
	DISPLAY: block; MARGIN: 1em 0px; FONT: bold 100%/1.5em Verdana,Helvetica,Arial,sans-serif
}
A.skipnav {
	VISIBILITY: hidden; POSITION: absolute
}
INPUT.standalone {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 80%; BACKGROUND: url(linkOpaque.gif) #dee7ec no-repeat 9px 1px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: lowercase; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px
}
INPUT.context {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BORDER-LEFT-COLOR: #696; BACKGROUND: #d6d3ce; BORDER-BOTTOM-COLOR: #000; PADDING-BOTTOM: 1px; CURSOR: pointer; COLOR: black; BORDER-TOP-COLOR: #696; PADDING-TOP: 1px; BORDER-RIGHT-COLOR: #000
}
INPUT.destructive {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 80%; BACKGROUND: url(linkTransparent.gif) #ffce7b no-repeat 9px 1px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #ffa500 1px solid; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #ffa500 1px solid
}
INPUT.lightborder {
	BORDER-RIGHT: #00e0e0 1px solid; BORDER-TOP: #00e0e0 1px solid; MARGIN: 0px; BORDER-LEFT: #00e0e0 1px solid; BORDER-BOTTOM: #00e0e0 1px solid; BACKGROUND-COLOR: transparent
}
INPUT.noborder {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; MARGIN: 0px; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: transparent
}
DIV.row {
	CLEAR: both; MIN-HEIGHT: 4em; MARGIN: 0px 0px 1em; POSITION: relative
}
.group {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 1em 0px; BORDER-LEFT: #008 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #008 1px solid
}
SPAN.legend {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 80%; BACKGROUND: white; LEFT: 0px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; POSITION: relative; TOP: -0.8em
}
DIV.label {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 80%
}
DIV.field {
	MARGIN-TOP: 0.2em
}
DIV.readonlyfield {
	MARGIN-TOP: 0.3em; MARGIN-BOTTOM: 0.4em
}
DIV.help {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 80%; LEFT: -18em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: black 1px solid; WIDTH: 16em; LINE-HEIGHT: normal; PADDING-TOP: 0.5em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 1.5em; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
.error {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 1em; BACKGROUND: #ffce7b; PADDING-BOTTOM: 1em; MARGIN: 0px; BORDER-LEFT: #ffa500 1px solid; WIDTH: 68%! important; PADDING-TOP: 1em; BORDER-BOTTOM: #ffa500 1px solid
}
.required {
	BACKGROUND: url(../images/required.gif) no-repeat right 50%
}
SPAN.card {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 1em; BACKGROUND: #dee7ec; FLOAT: left; PADDING-BOTTOM: 1em; MARGIN: 1em; BORDER-LEFT: #008 1px solid; WIDTH: 15%; PADDING-TOP: 1em; BORDER-BOTTOM: #008 1px solid; TEXT-ALIGN: center
}
TABLE.listing {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; BORDER-COLLAPSE: collapse
}
DIV.stx TABLE {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.listing TH {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: #c6c7c6; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
DIV.stx TABLE TH {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: #c6c7c6; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
TABLE.listing TD.top {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; PADDING-LEFT: 0px; LEFT: -1px; PADDING-BOTTOM: 1em; BORDER-LEFT: white 1px solid; PADDING-TOP: 0px; POSITION: relative; TOP: -1px; TEXT-ALIGN: right! important
}
TABLE.listing TR.odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
TABLE.listing TR.even {
	BACKGROUND: #efefef
}
TABLE.listing TD {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.stx TABLE TD {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE.listing A:hover {
	TEXT-DECORATION: underline
}
TABLE.listing IMG {
	VERTICAL-ALIGN: middle
}
DIV.stx TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.stx TABLE {
	BORDER-RIGHT: #008 1px solid; BORDER-TOP: #008 1px solid; BORDER-LEFT: #008 1px solid; BORDER-BOTTOM: #008 1px solid
}
DIV.stx TABLE TD {
	BORDER-BOTTOM: #008 1px solid
}
DIV.box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2em; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.box H4 {
	FONT-SIZE: 1em
}
DIV.box H5 {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; DISPLAY: inline; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0px; BORDER-LEFT: #008 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #008 1px; HEIGHT: 1em
}
DIV.box H6 {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; DISPLAY: block; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #008 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #008 1px; HEIGHT: 1.2em
}
DIV.box DIV.body {
	BORDER-RIGHT: #008 1px solid; BORDER-TOP: #008 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #008 1px solid; BORDER-BOTTOM: #008 1px solid; BORDER-COLLAPSE: collapse
}
.boxDetails {
	TEXT-ALIGN: right
}
DIV.box .content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
DIV.box A.close {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FLOAT: right; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; BORDER-LEFT: #008 1px solid; PADDING-TOP: 0px
}
DIV.box H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box .even {
	BACKGROUND-COLOR: #f7f9fa
}
DIV.box .odd {
	BACKGROUND-COLOR: transparent
}
DIV.box INPUT {
	FONT-SIZE: 80%
}
DIV.spacer {
	MARGIN: 1em
}
.currentNavItem {
	FONT-WEIGHT: bold; COLOR: black
}
.private {
	COLOR: black
}
.published {
	COLOR: #74ae0b
}
.pending {
	COLOR: #ffa500
}
.syndicated {
	COLOR: #008000
}
.expired {
	COLOR: red
}
.even {
	BACKGROUND-COLOR: #f7f9fa
}
.odd {
	BACKGROUND-COLOR: transparent
}
.highlight {
	BACKGROUND-COLOR: #f7f9fa
}
DIV.listingBar {
	CLEAR: both; BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #008 1px solid; PADDING-LEFT: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0px; MARGIN: 1em 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #008 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #008 1px solid; TEXT-ALIGN: center
}
DIV.listingBar SPAN.previous {
	FLOAT: left; TEXT-ALIGN: left
}
DIV.listingBar SPAN.next {
	FLOAT: right; TEXT-ALIGN: right
}
DIV listingBar IMG {
	VERTICAL-ALIGN: middle
}
DIV.day {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.2em; Z-INDEX: 2; VISIBILITY: hidden; PADDING-BOTTOM: 0.2em; BORDER-LEFT: black 1px solid; WIDTH: 12em; PADDING-TOP: 0.2em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffb
}
DIV.date {
	FONT-WEIGHT: bold
}
TABLE.calendar {
	BORDER-RIGHT: #008 1px solid; BORDER-TOP: #008 1px solid; MARGIN: 0px 1em 2em 0px; BORDER-LEFT: #008 1px solid; BORDER-BOTTOM: #008 1px solid; TEXT-ALIGN: right
}
TABLE.calendar A {
	COLOR: #436976; TEXT-DECORATION: none
}
TABLE.calendar A:hover {
	TEXT-DECORATION: none
}
TABLE.calendar TH {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #dee7ec; TEXT-ALIGN: center
}
TABLE.calendar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 1.5em; PADDING-TOP: 2px; BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.weekdays {
	BORDER-RIGHT: #008 1px; BORDER-TOP: #008 1px solid; BORDER-LEFT: #008 1px; BORDER-BOTTOM: #008 1px solid; BACKGROUND-COLOR: #dee7ec; TEXT-ALIGN: center
}
TABLE.calendar TD.event {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dee7ec
}
TABLE.calendar TD.noevent {
	BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.todayevent {
	BORDER-RIGHT: #ffa500 2px solid; BORDER-TOP: #ffa500 2px solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffa500 2px solid; BORDER-BOTTOM: #ffa500 2px solid; BACKGROUND-COLOR: #dee7ec
}
TABLE.calendar TD.todaynoevent {
	BORDER-RIGHT: #ffa500 2px solid; BORDER-TOP: #ffa500 2px solid; BORDER-LEFT: #ffa500 2px solid; BORDER-BOTTOM: #ffa500 2px solid; BORDER-COLLAPSE: collapse
}
.small {
	FONT-SIZE: 80%
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #06c; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A.toplink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.toplink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.toplink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.toplink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.toplink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.whtbld1Copy {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.new {
	FONT-SIZE: 18px; LINE-HEIGHT: 22px
}
.style {
	FONT-SIZE: 18px; LINE-HEIGHT: 22px
}
TABLE.search {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; BORDER-BOTTOM: #003 1px solid
}
TABLE.search TR.tableRowHeader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: verdana,tahoma,arial,helvetica; BACKGROUND-COLOR: #8295c8
}
TABLE.search TD.tableCellHeader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: verdana,tahoma,arial,helvetica
}
TABLE.search TH.tableCellHeader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: verdana,tahoma,arial,helvetica
}
TABLE.search A.tableCellHeader {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: verdana,tahoma,arial,helvetica; TEXT-DECORATION: none
}
TABLE.search A.tableCellHeader:hover {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: verdana,tahoma,arial,helvetica; TEXT-DECORATION: underline
}
TABLE.search TR.tableRowOdd {
	FONT-SIZE: x-small; FONT-FAMILY: verdana,tahoma,arial,helvetica; BACKGROUND-COLOR: #fff
}
TABLE.search TR.tableRowEven {
	FONT-SIZE: x-small; FONT-FAMILY: verdana,tahoma,arial,helvetica; BACKGROUND-COLOR: #cad2e8
}
TABLE.search TD.tableCell {
	FONT-SIZE: x-small; FONT-FAMILY: verdana,tahoma,arial,helvetica
}
.headertag {
	FONT-WEIGHT: bold; COLOR: #3179a5; FONT-FAMILY: verdana,tahoma,arial,helvetica
}
.mylink {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #fff; FONT-FAMILY: tahoma,Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.whtbldbig {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.orgTblwidth {
	WIDTH: 800px
}
TABLE.memberTblwidth {
	WIDTH: 800px
}
TABLE.ManageEventTblwidth {
	WIDTH: 800px
}
TABLE.eventTblwidth {
	WIDTH: 800px
}
TABLE.surveyTblwidth {
	WIDTH: 800px
}
TABLE.SpeakerProfileTblwidth {
	WIDTH: 800px
}
.dynamic-tab-pane-control H2 {
	WIDTH: auto; TEXT-ALIGN: center
}
.dynamic-tab-pane-control H2 A {
	DISPLAY: inline; WIDTH: auto
}
.dynamic-tab-pane-control A:hover {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: repeat
}
TABLE.orgTblwidth {
	HEIGHT: 650px
}
TABLE.memberTblwidth {
}
TABLE.eventTblwidth {
	WIDTH: 800px; HEIGHT: 340px
}
TABLE.ManageEventTblwidth {
	WIDTH: 800px
}
TABLE.surveyTblwidth {
}
TABLE.SpeakerProfileTblwidth {
	WIDTH: 800px
}
TABLE.dynaList {
	CLEAR: both; FONT-SIZE: 80%; BORDER-BOTTOM: #000 1px solid
}
TABLE.dynaList TR.odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
TABLE.dynaList TR.even {
	BACKGROUND: #efefef
}
TABLE.dynaList TD {
	BORDER-RIGHT: #008 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; BORDER-LEFT: #008 1px solid; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE.dynaList IMG {
	VERTICAL-ALIGN: middle
}
TABLE.dynaList TH {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-WEIGHT: bold; BACKGROUND: #c6c7c6; BORDER-LEFT: #000 1px solid; COLOR: black; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
TABLE.list {
	CLEAR: both; BORDER-RIGHT: #999 1px solid; FONT-SIZE: 85%; MARGIN: 1em 0px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.list TH {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #999 1px solid; PADDING-LEFT: 1em; BACKGROUND: #2161ad; PADDING-BOTTOM: 0px; FONT: bold 9pt verdana; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid; WHITE-SPACE: nowrap
}
TABLE.list TR.odd {
}
TABLE.list TR.even {
	BACKGROUND: #fff
}
TABLE.list TD {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.red {
	FONT-SIZE: 12px; COLOR: #c41f20; MARGIN-RIGHT: 1em
}
.breadcrumb {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.delete_events {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100% Verdana,Helvetica,Arial,sans-serif; COLOR: red; PADDING-TOP: 0px
}
.published_events {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100% Verdana,Helvetica,Arial,sans-serif; COLOR: green; PADDING-TOP: 0px
}
.draft_events {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100% Verdana,Helvetica,Arial,sans-serif; COLOR: blue; PADDING-TOP: 0px
}
A.bluelink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4261bd; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.bluelink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4261bd; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.bluelink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4261bd; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.bluelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4261bd; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.preview {
	BACKGROUND: white; FONT: 100% Verdana,Helvetica,Arial,sans-serif; COLOR: white
}
.question {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT: bold 130% Verdana,Helvetica,Arial
}
.answer {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 90%; FONT-FAMILY: Verdana,Helvetica,Arial
}
.pagedesc {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 130%; FONT-FAMILY: Verdana,Helvetica,Arial
}
TABLE.listXL {
	CLEAR: both; BORDER-RIGHT: #999 1px solid; FONT-SIZE: 80%; MARGIN: 1em 0px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.listXL TH {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; BACKGROUND: #8295c8; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid; WHITE-SPACE: nowrap
}
TABLE.listXL TR.odd {
	BACKGROUND: #cad2e8
}
TABLE.listXL TR.even {
	BACKGROUND: #fff
}
TABLE.listXL TD {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.org_selector {
	CURSOR: default
}
INPUT.btn1 {
	BORDER-RIGHT: #363 1px solid; BORDER-TOP: #696 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#BCDDEB'); BORDER-LEFT: #696 1px solid; COLOR: #003471; BORDER-BOTTOM: #363 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #bcddeb
}
INPUT.btnhov {
	BORDER-RIGHT: #930 1px solid; BORDER-TOP: #c63 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaaaff'); BORDER-LEFT: #c63 1px solid; COLOR: #003471; BORDER-BOTTOM: #930 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #ccf
}
.bld_blk_large {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bld_white {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
#tooltip {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; DISPLAY: none; PADDING-LEFT: 2px; FONT-SIZE: 0.9em; Z-INDEX: 20000; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: "Trebuchet MS","Lucida Sans Unicode",Arial,sans-serif; POSITION: absolute; BACKGROUND-COLOR: #eee; -moz-border-radius: 6px
}
#tooltipShadow {
	DISPLAY: none; Z-INDEX: 10000; FILTER: alpha(opacity=70); POSITION: absolute; BACKGROUND-COLOR: #555; -moz-border-radius: 6px; opacity: .7; -khtml-opacity: .7; -moz-opacity: .7
}
.dhtmlgoodies_question {
	MARGIN-TOP: 2px; PADDING-LEFT: 4px; MARGIN-BOTTOM: 2px; FONT: bold 11px/16px "Lucida Grande",Arial,sans-serif; OVERFLOW: hidden; TEXT-TRANSFORM: none; WIDTH: 223px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 4px; HEIGHT: 21px; BACKGROUND-COLOR: #808080; TEXT-DECORATION: none
}
.dhtmlgoodies_answer {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 223px; BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: relative; HEIGHT: 0px; BACKGROUND-COLOR: #f4f4f4
}
.dhtmlgoodies_answer_content {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; POSITION: relative
}
.sab-pane-style.dynamic-sab-pane-control {
	WIDTH: 90%; POSITION: relative
}
.dynamic-sab-pane-control .sab-row .sab {
	BORDER-RIGHT: #cbcbcb 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cbcbcb 1px solid; DISPLAY: inline; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 18px; Z-INDEX: 1; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 100px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #cbcbcb 1px solid; FONT-FAMILY: Verdana,Helvetica,Arial; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #ccc
}
.dynamic-sab-pane-control .sab-row .selected.sab {
	BORDER-RIGHT: #cbcbcb 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cbcbcb 1px solid; PADDING-LEFT: 6px; Z-INDEX: 3; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #cbcbcb 1px solid; TOP: 0px; BACKGROUND-COLOR: #666
}
.dynamic-sab-pane-control .sab-row .sab A {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; CURSOR: pointer; COLOR: #fff; FONT-FAMILY: Verdana,Helvetica,Arial; TEXT-DECORATION: none
}
.dynamic-sab-pane-control .sab-row .hover A {
	FONT-WEIGHT: normal; COLOR: #000080
}
.dynamic-sab-pane-control .sab-row .selected.sab A {
	FONT-WEIGHT: bold
}
.dynamic-sab-pane-control .sab-page {
	CLEAR: both; BORDER-RIGHT: #cbcbcb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cbcbcb 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 13px; Z-INDEX: 2; BACKGROUND: white; PADDING-BOTTOM: 10px; BORDER-LEFT: #cbcbcb 1px solid; COLOR: black; PADDING-TOP: 10px; BORDER-BOTTOM: #cbcbcb 1px solid; FONT-FAMILY: Verdana,Helvetica,Arial; POSITION: relative; TOP: -2px; HEIGHT: 98%
}
.dynamic-sab-pane-control .sab-row {
	Z-INDEX: 1; BACKGROUND: #fff; WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 1.85em
}
.dynamic-sab-pane-control .sab-row .dispText {
	Z-INDEX: 1; BACKGROUND: #0b75c3; WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 1.85em
}
.dynamic-sab-pane-control H2 {
	BORDER-RIGHT: #b7301d 1px solid; BORDER-TOP: #b7301d 1px solid; BORDER-LEFT: #b7301d 1px solid; WIDTH: auto; BORDER-BOTTOM: #b7301d 1px solid; TEXT-ALIGN: center
}
.dynamic-sab-pane-control H2 A {
	DISPLAY: inline; WIDTH: auto
}
.dynamic-sab-pane-control A:hover {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: repeat
}